@import url(bootstrap.css);

.clearer{
  float: left;
  width: 100%;
  margin: 20px 0;
  position: relative;©
}

.cellpadding{
  padding: 60px 0;
}

header,content,section,footer{
  float: left;
  width: 100%;
  position: relative;
}

#header{
  position: absolute;
  top:0;
  left: 0;
  z-index: 2;
}

section.intro-award{
  background: url(../../images/bg-intro_award.png)no-repeat 0 0;
  background-size: 100% 100%;
  height: 700px;
  margin-top: -220px;
  z-index: 2;
}

section.form-award{
  background: url(../../images/bg-form-award.png)no-repeat 0 0;
  background-size: 100% 100%;
  height: 900px;
  margin-top: -220px;
  z-index: 1;
}

section.award-list{
  background: url(../../images/bg-award-list.jpg)no-repeat 0 0;
  background-size: cover;
  height: 700px;
  margin-top: -220px;
  z-index: 0;
}

form.award-form button{
  border-radius: 25px;
}

form.award-form .btn-warning{
  background-color: #ED5E24;
  border-color: #DB501F;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
}

form.award-form .custom-file-label{
  left: 15px;
  right: 15px;
  border-radius: 20px;
  overflow: hidden;
}

form.award-form .btn-secondary{
  text-transform: uppercase;
  font-size: 12px;
}

.btn-category .col-xl-4:first-child{
  padding-right: 5px;
}

.btn-category .col-xl-4:nth-child(2){
  padding-left: 5px;
  padding-right: 5px;
}

.btn-category .col-xl-4:last-child{
  padding-left: 5px;
}

form.award-form{
  margin-top: 240px
}

.hh{
  margin-left: 123px;
  margin-top: 200px;
  color: white;
}

.hhh{
  margin-left: 123px;
  color: white;
}

.award-list .hii{
  margin-left: 138px;
  width: 136px;
  border-radius: 20px;
  height: 37px;
  background-color: #ED5E24;
  border-color: #ED5E24;
  color: white;
}

section.intro-award .align-items-center{
  height: 700px;
  color: #fff;
}

section.intro-award .align-items-center ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

section.intro-award .align-items-center h1{
  font-size: 3.5rem;
}

section.intro-award .align-items-center ul li i{
  font-size: 12pt;
  color: red;
  margin-right: 20px
}

section.main-slider .carousel-indicators{
  bottom: 180px;
  justify-content: flex-end;
}

section.main-slider .carousel-indicators li{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.file-custom{
  border-radius: 20px;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.submission-banner{
    position: absolute;
    top: 124px;
    left: 0;
}

.submission-banner img{
  width: 250px;
}

@-moz-document url-prefix() {
    .file-custom{
        padding: 3px;
    }
}

.file-custom::-webkit-file-upload-button{
  visibility: hidden;
}

.file-custom::before {
  content: 'Browse';
  position: absolute;
  right: -3px;
  top: -2px;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 6px 18px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

footer{
  background: url(../../images/bg-footer.jpg)no-repeat 0 0;
  background-size: cover;
}

footer ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

footer ul li a{
  color: #333;
}

footer ul li a:hover{
  color: #ed5e24;
}

footer ul.socmed li{
  display: inline-block;
}

footer ul.socmed li a{
  color: #ed5e24;
}

footer ul.socmed li a:hover{
  color: #333;
}
